<section>

    <div class="artist-cards">        
        <h2>Help</h2>

        <div class="card">
            <h3>Welcome to Artist Gallery!</h3>
            <p>A digital space dedicated to celebrating artistry and creativity. Our platform serves as a vibrant hub where artists from diverse backgrounds can showcase their talents and connect with art enthusiasts worldwide.</p>
     
            <h3>How do I find a specific artist?</h3>
            <p>* Go to the homepage and input the artist's ID into the search bar.</p>
            <p>* Click on the "Search" button.</p>
            <p>* The desired artist's information will be displayed in the "All Artists" section.</p>

            <h3>How do I add a new artist?</h3>
            <p>* Scroll to the bottom of the homepage to find the "Add New Artist" section.</p>
            <p>* Enter the artist's details such as ID, Name, Date of Birth (DOB), Gender, Contact Info, Exhibition Date, and Special Notes.</p>
            <p>* Click the "Submit" button to add the new artist to the "All Artists" section.</p>

            <h3>How do I update artist data?</h3>
            <p>* Locate the artist you wish to update in the "All Artists" section.</p>
            <p>* Click on the "Edit" button next to the artist's information.</p>
            <p>* Update the artist's details in the form displayed at the bottom of the page.</p>
            <p>* Click the "Submit" button to save the changes.</p>

            <h3>How do I delete an artist?</h3>
            <p>* Find the artist you want to delete in the "All Artists" section.</p>
            <p>* Click on the "Delete" button associated with the artist.</p>
            <p>* Confirm the deletion when prompted, and the artist will be removed from the webpage.</p>
            
            <h3>Where can I find the featured artist?</h3>
            <p>* The featured artist is prominently displayed at the top of the homepage under the "Featured Artist" section.</p>
            <p>* This section provides detailed information about the highlighted artist, allowing users to discover and learn more about their work.</p>
            <h3>How do I navigate between pages?</h3>
            <p>* Navigation between pages is seamless using the Angular router implemented in the Artist Web app.</p>
            <p>* Simply click on the desired page link in the navigation menu.</p>
            <p>* Alternatively, use the browser's back and forward buttons to move between pages.</p>

            <h3>How do I access help and error messages?</h3>
            <p>* Assistance and error messages are easily accessible via the "Help" button available on each page.</p>
            <p>* Clicking the "Help" button provides quick access to resources such as FAQs, contact support options, and troubleshooting guides.</p>
            <p>* This ensures users can easily find help and resolve any issues they encounter while using the Artist Web app.</p>
        </div>
    <br>
    
    </div>

</section>
  