<section>
    <div class="button">
        <button routerLin="/help">Help</button>
    </div>

    <div class="artist-cards">        
        <h2>About Artist</h2>

        <div class="card">
            <h3>Welcome to Artist Gallery!</h3>
            <p>  A digital space dedicated to celebrating artistry and creativity. Our platform serves as a vibrant hub where artists from diverse backgrounds can showcase their talents and connect with art enthusiasts worldwide.</p>
     
            <h3>About Artist Gallery</h3>
            <p>Welcome to Artist Gallery, an online platform dedicated to celebrating creativity and showcasing the incredible talents of artists from around the globe. At Artist Gallery, we believe in the transformative power of art and its ability to inspire, provoke thought, and evoke emotions.</p>

            <h3>Our Mission</h3>
            <p>Our mission at Artist Gallery is simple yet profound: to provide artists with a dynamic platform to exhibit their work and connect with a global audience of art enthusiasts. We are passionate about promoting artistic expression in all its forms and fostering a supportive community where creativity thrives.</p>

            <h3>What We Offer</h3>
            <p>Artist Gallery offers a curated collection of paintings, sculptures, photography, digital art, and more, representing a diverse range of styles, themes, and perspectives. Whether you're drawn to abstract expressionism, realism, surrealism, or any other artistic movement, you'll find something to captivate your imagination.</p>

            <h3>Join Our Community</h3>
            <p>Join us on this journey as we celebrate the transformative power of art and the boundless creativity of the human spirit. Whether you're an artist, collector, curator, or simply someone who appreciates the beauty of art, we invite you to be a part of our vibrant community.</p>
            
            <h3>Thank You</h3>
            <p>Thank you for visiting Artist Gallery and for supporting the arts. Together, let's continue to celebrate creativity, inspire one another, and make the world a more beautiful place through art.</p>
        </div>
    <br>
    
    </div>

</section>
  