<section>
    <div class="button">
        <button routerLink="/help">Help</button>
    </div>

    <div class="artist-cards">        
        <h2>Contact Us</h2>

        <div class="card">
            <h3>Welcome to Artist Gallery contact page!</h3>
            <p>  We value your feedback, questions, and suggestions. Whether you're an artist interested in showcasing your work, an art enthusiast with inquiries about our platform, or a visitor with general feedback, we're here to assist you.</p>

            <h3>How to Reach Us</h3>
            <p>For general inquiries or assistance, please feel free to contact our support team via email or through the contact form below. We strive to respond to all inquiries promptly and provide the assistance you need.</p>

            <h3>Email</h3>
            <p>You can reach us via email at contact&#64;artistgallery.com. Our dedicated support team is available to address your questions, concerns, or feedback.</p>

            <h3>Contact Form</h3>
            <p>Alternatively, you can use the contact form below to send us a message directly from our website. Simply fill out the required fields, including your name, email address, subject, and message, and click "Submit." We'll get back to you as soon as possible.</p>

            <h3>Visit Us</h3>
            <p>if you'd like to visit us in person or send mail correspondence, our office address is:</p>

                <p>Artist Gallery <br>
                123 Art Street <br>
                NSW, Australia</p>
            
            <h3>Thank You</h3>
            <p>Thank you for visiting Artist Gallery and for supporting the arts. Together, let's continue to celebrate creativity, inspire one another, and make the world a more beautiful place through art.</p>
        </div>
    <br>
    
    </div>

</section>
  