<section>
    <div class="button">
        <button routerLink="/help">Help</button>
    </div>

    <div class="artist-cards">        
        <h2>Artists Presentation Gallery</h2>

        <div class="card">
            <h3>Welcome to Artist Gallery!</h3>
            <p>  A digital space dedicated to celebrating artistry and creativity. Our platform serves as a vibrant hub where artists from diverse backgrounds can showcase their talents and connect with art enthusiasts worldwide.</p>
            
            <section id="grid-container">
                <div>
                    <img class="grid-item responsive-image" src="https://images.unsplash.com/photo-1512540452972-baac55d40ef1?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <img class="grid-item responsive-image" src="https://plus.unsplash.com/premium_photo-1706548911887-791ddf52ac48?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <img class="grid-item responsive-image" src="https://images.unsplash.com/photo-1565452171067-f2b1384f958d?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
                <div>
                    <img class="grid-item responsive-image" src="https://images.unsplash.com/photo-1608371945786-d47d3cdd31da?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <img class="grid-item responsive-image" src="https://images.unsplash.com/photo-1514195037031-83d60ed3b448?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <img class="grid-item responsive-image" src="https://images.unsplash.com/photo-1564399579883-451a5d44ec08?q=80&w=1937&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <img class="grid-item responsive-image" src="https://images.unsplash.com/photo-1547826039-bfc35e0f1ea8?q=80&w=1972&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
                <div>
                    <img class="grid-item responsive-image" src="https://images.unsplash.com/photo-1569084024058-1632922a4e1d?q=80&w=2038&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <img class="grid-item responsive-image" src="https://images.unsplash.com/photo-1551075649-8fdfd4c6f842?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <!-- <img class="grid-item" src="" alt=""> -->
                </div>
            </section>
        </div>
    <br>
    
    </div>

</section>